body {
  color: rgba(110, 108, 14, 0.9);
  background: #675ee7;
  background: linear-gradient(75deg, rgba(231, 103, 94, 0.5), rgba(144, 202, 154, 0.5));
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-phrase {
  font-family: Mate SC, sans-serif;
  text-align: center;
  font-size: 50px;
}

.input-country {
  width: 350px;
  height: 50px;
  color: rgb(188, 224, 26);
  font-family: Mate SC, sans-serif;
  font-size: 30px;
  border-radius: 5px;
  border: 5px solid rgba(17, 116, 78, 0.7);
  text-align: center;
  transition: all 3s ease;
}

.input-container {
  width: 500px;
  padding: 25px;
  text-align: center;
}

.country-container {
  border: 5px solid rgba(17, 116, 78, 0.7);
  border-radius: 10px;
  padding: 50px;
  margin-top: 40px;
  width: 500px;
}

.countries-list {
  padding: 0;
  list-style: none;
}

.country-name:not(:last-child) {
  margin-bottom: 10px;
}

.country-name {
  font-family: Mate SC, sans-serif;
  font-size: 30px;
  text-align: center;
}

.info-wrapper {
  font-family: Mate SC, sans-serif;
  font-size: 25px;
}

.flag {
  width: 370px;
  height: 280px;
}
